h1 {background-color: orange;
     text-align: center;
    font-size: 48px;
    padding: 8px;}
img {margin-left: 400px; }
h2 {font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 22pt; background-color: gold; padding: 10px;}
li {margin: 12px; font-size: 18px;}